* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  scroll-behavior: smooth;
}

a {
  color: #121212;
  text-decoration: none;
}

/* Correcao button hero com conflito */

#button-hero {
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  #button-hero {
    margin: 0;
    margin-bottom: 16px;
  }
}
